.ForecastPreview {
  text-align: center;
  margin-top: 10px;
}
.day {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.date {
  color: #add8e6;
  padding: 0 0 5px 0;
}
.WeatherIcon canvas {
  margin: -3px auto 5px auto;
  display: block;
  height: 25px;
}
.high {
  color: #fcc29a;
}
.low {
  color: #29d2e4;
}
