button {
  background-color: Transparent;
  border: none;
  outline: none;
}

.TempUnits {
  font-size: 16px;
  color: #fff;
  position: relative;
  top: -70px;
  right: -175px;
  border: none;
  outline: none;
}
.TempUnits a {
  color: #fff;
}
.TempUnits .Active {
  color: #fff;
  font-weight: bold;
  cursor: default;
  border: none;
  outline: none;
}
.TempUnits .Active:hover {
  text-decoration: none;
  border: none;
  outline: none;
}
