.Weather {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin: 10px auto;
  padding: 15px;
  border: solid 1px green;
  border-radius: 10px;
  width: 375px;
  box-shadow: 5px 5px 8px lightgray;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  color: #fff;
}
.buttons {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.searchButton {
  margin: 7px 7px auto -8px;
}
.currentLocationButton {
  margin: 7px auto auto 10px;
}
